{% extends 'layout.html' %}

{% block content %}
<main role="main" class="container full-height flex-row flex-grow-1">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Accueil</a></li>
        <li class="breadcrumb-item active">A propos</li>
    </ol>
    <div class="card">
        <div class="card-header">
            Auteur
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Romain GUIGNON</li>
            <li class="list-group-item">Nicolas DEAT</li>
        </ul>
    </div>
</main>
{% endblock %}